* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    --firstColor: rgba(250, 255, 250, 1);
    --secondColor: #212121;
    --thirdColor: #5cdaff;
}

body {
    overflow-x: hidden;
    background-color: var(--firstColor);
    color: var(--secondColor);
    max-width: 1600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both
}



/* MAIN FEATURES */
section {
    padding: 30px 20px 30px 20px;
    transition: 0.5s ease-in-out;
    scroll-snap-align: center;
}

section:nth-of-type(odd) {
    background-color: var(--firstColor);
    color: var(--secondColor);
    transform: translateX(-100vw);
}

section:nth-of-type(even) {
    background-color: var(--secondColor);
    color: var(--firstColor);
    transform: translateX(-100vw);
}

section:nth-of-type(even) h1 {
    color: var(--thirdColor);
}

section.active {
    transform: translateX(0);
}

h1 {
    font-family: 'Saira', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
}


h1,
h2 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    margin: 0;
    padding: 20px 0;
}

h3 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 120%;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 20px 0;
}

p {
    font-size: 16px;
    font-family: 'Saira', sans-serif;
    text-align: left;
    line-height: 150%;
    padding: 10px 10px;
}

@media (min-width: 360px) and (orientation: portrait) {

    h1,
    h2 {
        font-size: 20px;
        line-height: 24px;
    }

}

@media (min-width: 768px) {

    section {
        padding: 40px 5% 40px 5%;
    }

    h1,
    h2 {
        padding: 24px 0;
        font-size: 28px;
        line-height: 32px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {

    section {
        padding: 50px 10% 50px 10%;
    }

    h1,
    h2 {
        padding: 36px 0;
        font-size: 32px;
        line-height: 34px;
    }

    h3 {
        font-size: 28px;
    }
}

@media (min-width: 1280px) {

    h1,
    h2 {
        font-size: 34px;
        line-height: 38px;
    }
}

.burger {
    width: 24px;
    height: 18px;
    position: fixed;
    top: 2.5%;
    right: 6%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 5;
}

.burger span {
    display: block;
    position: fixed;
    height: 4px;
    width: 100%;
    background: var(--thirdColor);
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
    top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
    top: 9px;
}

.burger span:nth-child(4) {
    top: 18px;
}

.burger.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}

.burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}


@media (min-width: 1025px) {
    .burger {
        display: none;
    }
}

/* MENU */
.navbar {
    position: fixed;
    top: 1.25%;
    right: -100vw;
    z-index: 3;
    background-color: rgba(33, 33, 33, 0.8);
    border: 2px solid var(--firstColor);
    border-radius: 10px;
    width: 95vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s ease-in-out;
}

.navbar ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar ul li:nth-of-type(1) {
    display: none;
}

.navbar a {
    font-family: 'Saira', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5;
    color: var(--firstColor);
}

.navbar.show {
    right: 2.5%;
}

@media (orientation: landscape) {

    .navbar {
        top: 2.5%;
        right: -100vw;
        width: 60%;
    }

    .navbar.show {
        right: 20%;
    }
}

@media (min-width: 768px) {
    .navbar a {
        font-size: 24px;
    }

    .navbar {
        top: 2.5%;
        right: -100vw;
        width: 60%;
    }

    .navbar.show {
        right: 20%;
    }

}

@media (min-width: 1024px) and (orientation: landscape) {

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        border: none;
        border-radius: 0;
        width: 100vw;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .navbar ul {
        position: fixed;
        flex-direction: row;
        padding-right: 20px;
        right: 0;
        width: 75vw;
    }

    .navbar ul li {
        padding: 0 10px;
    }


    .navbar ul li:nth-of-type(1) {
        display: block;
        position: fixed;
        left: 5vh;
    }

    .navbar ul li a {
        transition: 0.2s ease-in-out;
    }

    .navbar a:hover {
        color: var(--thirdColor);
        transform: scale(1.05)
    }
}


/* HEADER  */

header {
    background-image: url(../img/narty6.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: rgba(33, 33, 33, 0.5);
    width: 100%;
    right: -20%;
    top: 27%;
    animation: text 2s linear;
    animation-iteration-count: inherit;
    overflow-x: hidden;
}

@keyframes text {
    0% {
        opacity: 0;
        top: 20%
    }

    20% {
        opacity: 0.5;
        top: 21.4%
    }

    40% {
        opacity: 1;
        top: 22.8%
    }

    100% {
        top: 27%
    }
}

header h1,
header h2 {
    color: var(--firstColor);
    text-align: left;
    padding: 0 10px;
    margin: 0;
    text-shadow: 0 0 4px var(--secondColor);
}

@media (orientation: landscape) {
    header {
        background-image: url(../img/narty5.JPG);
    }

    .title {
        width: 50%;
        height: 100px;
        right: 0;
        top: 45%;
        animation: text 2s linear;
        animation-iteration-count: inherit;
        overflow-x: hidden;
        opacity: 1;
    }

    @keyframes text {
        0% {
            right: -60%;
            opacity: 0;
        }

        20% {
            right: -48%
        }

        40% {
            right: -36%
        }

        60% {
            right: -24%;
            opacity: 0.35;
        }

        80% {

            right: -12%;
            opacity: 0.6;
        }

        100% {
            right: 0;
            opacity: 1
        }
    }

}

@media (min-width: 1024px) and (orientation: landscape) {

    header h1,
    header h2 {
        padding-left: 10px;
        font-size: 32px;
        letter-spacing: 1.5;
        text-shadow: 0 0 4px var(--secondColor);

    }

    .title {
        width: 40%;
        height: 160px;
    }

    @keyframes text {
        0% {
            right: -60%;
            opacity: 0;
        }

        20% {
            right: -48%
        }

        40% {
            right: -36%
        }

        60% {
            right: -24%;
            opacity: 0.35;
        }

        80% {

            right: -12%;
            opacity: 0.6;
        }

        100% {
            right: 0;
            opacity: 1
        }
    }

}

@media (min-width: 1280px) {
    header {
        background-position: 0 25%;
    }
}

/* ABOUT ME*/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.portrait {
    height: auto;
    width: 200px;
}

@media (orientation: landscape) {
    .about-container {
        display: block
    }

    .about-portrait {
        float: left;
    }

    .portrait {
        width: 250px;
        padding-right: 20px;
        padding-left: 10px;
        padding-top: 10px;
    }
}

@media (min-width: 1024px) {

    .about-portrait {
        float: left;
    }

    .portrait {
        width: 400px;
        height: auto;
        padding-right: 40px;
        border-radius: 2%;
    }

    .about-text {
        width: 100%;
    }
}

/* INSTALATIONS  */
.hvac-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hvac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instalations img {
    width: 30%;
    max-width: 320px;
    display: block;
    transition: 0.3 ease-in-out;
    transform: rotateY(0deg);
    transform-origin: 100% 0;
    opacity: 0;
}

.instalations img.active {
    animation: rotateIcon 1s linear;
    opacity: 1;
}

@media (orientation: landscape) {
    .instalations img {
        width: 20%;
    }
}


@media (min-width: 1024px) {

    .hvac-wrap {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
    }

    .hvac {
        width: 30%;

    }
}

/*HVAC PROGRAMS*/
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature img {
    margin: 5% auto;
    width: 30%;
    padding: 10px;
    max-width: 320px;
    display: block;
    transition: 0.3 ease-in-out;
    transform: rotateY(0deg);
    transform-origin: 0 0;
    opacity: 0;
}

.feature img.active {
    animation: rotateIcon 1s linear;
    opacity: 1;
}

.features-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (orientation: landscape) {
    .feature img {
        width: 20%;
    }

}

@media (min-width: 1024px) {
    .features-wrap {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
    }

    .feature {
        width: 33%;
        padding: 0 20px;
    }

    .feature img {
        width: 30%;
    }
}

/*WEBDEVELOPER*/

.webdesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.web-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.web img {
    margin: 5% auto;
    width: 60%;
    padding: 10px;
    max-width: 320px;
    display: block;

}

.web {
    transition: 0.3 ease-in-out;
    align-self: end;
    justify-self: start;
    transform: rotateY(0deg);
    transform-origin: 0 0;
    opacity: 0;
}

.web.active {
    animation: rotateIcon 1s linear;
    opacity: 1;
}



@keyframes rotateIcon {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
    }

    50% {
        opacity: 1;
        transform: rotateY(45deg);
    }

    100% {
        transform: rotateY(0);

    }
}

.web:active {
    transform: scale(0.95);
}

.web-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.web-projects img {
    width: 30%;

}

.project {
    text-decoration: none;
    color: var(--firstColor);
    transition: 0.3 ease-in-out;
    transform: rotateY(0deg);
    transform-origin: 0 0;
    opacity: 0;
}

.project i {
    text-align: center;
    font-size: 38px;

}

.project.active {
    animation: rotateIcon 1s linear;
    opacity: 1;
}



@keyframes rotateIcon {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
    }

    50% {
        opacity: 1;
        transform: rotateY(45deg);
    }

    100% {
        transform: rotateY(0);

    }
}

.project-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;

}

@media (orientation: landscape) {
    .web img {
        width: 40%;
    }

    .web-wrap {
        grid-template-columns: repeat(3, 1fr);

    }

    .project-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {

    .web-wrap {
        grid-template-columns: repeat(4, 1fr);
    }

    .project i {
        text-align: center;
        font-size: 60px;
    }

    .project-wrap {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
}

/*SLOGAN*/
.slogan {
    background-image: url(../img/slogan.JPG);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}

.slogan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 33, 33, 0.3);
    padding: 10%;
    min-height: 75vh;
}

.slogan h1,
.slogan h2,
.slogan p {
    color: var(--firstColor);
    text-shadow: 0 0 4px black;
    text-align: center;

}

.text span {
    font-weight: 600;
}

@media (min-width: 1024px) {
    .slogan {
        min-height: 80vh;
    }

    .slogan-container {
        min-height: 80vh;
    }
}

@media (min-width: 1280px) {
    .slogan {
        min-height: 100vh;
    }

    .slogan-container {
        min-height: 100vh;
    }

}

/*HOBBY*/

.hobby {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hobby h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}


.hobby-wrap {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3 ease-in-out;
    transform: rotateY(0deg);

    opacity: 0;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../img/narty2.jpg);
    transform-origin: 0 0;
}

.hobby .item:nth-of-type(2) {
    background-image: url(../img/crossfit.jpg);
    transform-origin: 100% 0;
}

.hobby .item:nth-of-type(3) {
    background-image: url(../img/run.jpg);
    transform-origin: 0 0;
}

.hobby .item:nth-of-type(4) {
    background-image: url(../img/Liverpool.jpg);
    transform-origin: 100% 0;
}

.hobby .item:nth-of-type(5) {
    background-image: url(../img/naples3.jpg);
    transform-origin: 0 0;
}

.hobby .item:nth-of-type(6) {
    background-image: url(../img/SW.png);
    transform-origin: 100% 0;
}

.item.active {
    animation: rotateIcon 1s linear;
    opacity: 1;
}

.item p {
    color: var(--firstColor);
    text-transform: uppercase;
    text-shadow: 0 0 4px black;
    background-color: rgba(33, 33, 33, 0.3);
    width: 100%;
    text-align: center;
    line-height: 25vh;
    padding: 0;
}


@media (min-width: 533px) {
    .hobby-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item {
        width: 50%;
        height: 40vh;
    }

    .item p {
        line-height: 40vh;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .hobby .item {
        width: 100%;
        height: 25vh;
    }

    .item p {
        line-height: 25vh;
    }
}

@media (min-width: 1024px) {
    .hobby-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hobby .item p {
        font-size: 24px;
        font-weight: bold;
        opacity: 0;
        transition: 1s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }
}

/* CONTACT SECTION */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact a {
    cursor: pointer;
    color: var(--secondColor);
    margin: 0 auto;
    font-family: 'Saira Condensed', sans-serif;
    text-decoration: none;
}

.contact i {
    padding-right: 10px;
}

.phone {
    cursor: pointer;
    padding: 0;
    margin: 0 auto
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: var(--firstColor);
}

label,
input,
textarea {
    font-family: 'Saira', sans-serif;
    background-color: var(--firstColor);
    padding: 5px 0;
}

input,
textarea {
    border: 1px solid var(--secondColor);
    border-radius: 2px;
}

.submit {
    cursor: pointer;
    width: 25%;
    margin: 20px auto;
    padding: 10px auto;
    transition: 0.2s ease-in-out;
}

.submit:hover {
    background-color: var(--secondColor);
    color: var(--thirdColor);
    transform: scale(1.1git);
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--secondColor);
    border-radius: 3px;
    color: var(--thirdColor);
    opacity: 0;
    transition: ease-in-out 0.3s;
}

@media (orientation: landscape) {
    form {
        width: 50%;
    }

    .alert {
        width: 60%;
    }

    .submit {
        cursor: pointer;
        width: 35%;
        margin: 20px auto;
        padding: 10px auto;
    }
}

@media (min-width: 1024px) {
    form {
        width: 50%;
    }

    .submit {
        width: 25%;
    }

    .contact-section {
        margin: 32px auto
    }

    .contact {
        margin: 24px
    }

    .alert {
        width: 60%;
    }

    .contact a {
        font-size: 30px;
    }
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondColor);
    color: var(--firstColor);
    font-family: 'saira', sans-serif;
    font-size: 12px;
    height: 20px;
    text-align: center;
}

@media (min-width: 640px) {
    footer {
        font-size: 16px;
        height: 24px;
    }
}

@media (min-width: 1024px) {
    footer {
        font-size: 20px;
        height: 28px;
    }
}


/* .slogan,
.hobby {
    transition: 1s ease-in-out;
    transform: scale(0);
}

.slogan.active2,
.hobby.active2 {
    transform: scale(1);
} */